*{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding: 0px;
    margin: 0px;
    border: none;
}

@font-face {
    font-family: mylocalfont;
    src: url(AmaticSC-Bold.ttf);
}

#panel{
    position: relative;
    width: 500px;
    height: 700px;
}

#wrapper{
    position: relative;
    width: 500px;
    height: 700px;
    border:0px solid red;
    display:block;
    overflow: hidden;
    overflow: visible;
}

.pictures{
    position: absolute;
    width: 100%;
}

#controlDiv{
    display: block;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    margin-top: 50%;
    margin-bottom: auto;
    float: left;
}

.controls{
    display: inline-block;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    font-family: mylocalfont;
    cursor:pointer;
}
.controls:hover{
    color: red;
}

#prev{
    float: left;
    padding-right: 35px;
}

#next{
    float: right;
    padding-left: 35px;
}

